a{
    text-decoration: none; color: inherit;
}
.active{
    color: #cfd219;
}
.active2{
    color: #1976D2;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: Roboto,sans-serif;
}
main{
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
 main .page{
    width: 100%;
    background: #1976D2;
    border-radius: 27px;
    box-shadow: 0 0 2px 1px #b7c0c8;
    text-shadow: 2px 2px 1px #222;
    color: #fff;
    padding: 0 16px 27px 16px;
    transition: all 1s;
 }

 main .page h1{
    text-transform: uppercase;
 }
